---
layout: main
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <div id="grid" class="row flex-grid">
    {% for event in page.events %}
        {% if event.category == page.category %}
            <article class="box-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <div class="box-body">
                    {% if event.image %}
                        {% if event.image.empty? %}
                        {% else %}
                            <div class="cover">
                                {% include new-post-tag.html date=post.date %}
                                <a href="{{ event.link | prepend: site.baseurl }}" {%if isnewpost %}class="new-post"{% endif %}>
                                    <img src="/assets/img/placeholder.png" data-url="{{ event.image }}" class="preload">
                                </a>
                            </div>
                        {% endif %}
                    {% elsif event.images %}
                        {% include new-post-tag.html date=event.date %}
                        <div class="cover collage">    
                            {% for image in event.images %}
                                <a href="{{ event.link }}">
                                    <img src="{{image}}" data-url="{{ image }}" class="preload">
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="box-info">
                        <meta itemprop="datePublished" content="{{ event.date | date_to_xmlschema }}">
                        <time itemprop="datePublished" datetime="{{ event.date | date_to_xmlschema }}" class="date">
                            {% include date.html date=event.date %}
                        </time>
                        <a class="post-link" href="{{ event.link | prepend: site.baseurl }}">
                            <h2 class="post-title" itemprop="name">
                                {{ event.title }}
                            </h2>
                        </a>
                        <a class="post-link" href="{{ event.link | prepend: site.baseurl }}">
                            <p class="description">{{ event.introduction }}</p>
                        </a>
                        <div class="tags">
                            {% for tag in event.tags %}
                                <a href="{{ site.baseurl}}/tags/#{{tag | slugify }}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
        {% endif %}
    {% endfor %}
    </div>
</main>


